@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600;650;900&display=swap');

body {
  font-family: 'Muli', sans-serif;
}

/** Nav **/
header {
  background-color: gold;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  width: 100%;
}

header nav ol {
  display: flex;
  justify-content: space-evenly;
}

header nav li {
  list-style-type: none;
  flex-wrap: nowrap;
  font-weight: 600;
}

header nav li.home {
  font-weight: 900;
  font-size: larger;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px darkgoldenrod;
}

header nav li a {
  text-decoration: none;
}

header nav li.current a {
  text-decoration: underline;
  font-weight: 700;
}

header + * {
  display: flex;
  flex-direction: row;
}

header + * nav {
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
}

/** Main **/

main, h1 {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 650;
}

h2::first-letter {
  font-weight: 900;
  color: darkgoldenrod;
}

h1 {
  color: darkorange;
}

h2 {
  border-top: 1px solid darkgoldenrod;
  margin-top: 30px;
  padding-top: 10px;
}

main li {
  margin-top: 5px;
}
